<h4> Join a Group </h4>

<%= form_for [@user,@membership] do |f| %>
  <div class="input-field col s12">
  <%if @group_list.empty?%>
    <%= f.collection_select :group_id, @group_list, :id, :name,{:prompt => 'There are no groups to join'}%>
  <%else%>
        <%= f.collection_select :group_id, @group_list, :id, :name,{:prompt => 'Please select a group'}%>
          <%= f.submit "Join Group" %>
  <%end %>
  </div>

<% end %>