<div class="row">
	<div class="col s8">
		<h4>Create a New Hang</h4>
		<br />
		<%= form_for [:group, @meetup], html: {autocomplete: 'off'} do |f| %>
			<div class="input-field">
				<%= f.text_field :date, class: 'datepicker' %>
				<%= f.label :date, 'Select a Date' %>
			</div>
			<button class="btn waves-effect waves-light disabled" id="dateButton" type="submit" name="action">Select a date first</button>
		<% end %>
		<div class="show-while-loading hide">
			<h4>Determining the best locations for your group...</h4>
			<%# Waiting Spinner %><div class="preloader-wrapper big active"> <div class="spinner-layer spinner-blue"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-red"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-yellow"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div><div class="spinner-layer spinner-green"> <div class="circle-clipper left"> <div class="circle"></div></div><div class="gap-patch"> <div class="circle"></div></div><div class="circle-clipper right"> <div class="circle"></div></div></div></div>
		</div>
	</div>
	<div class="col s4"></div>
</div>

<script>
	const buttonText = {
		'start': 'Select a date first',
		'dateSelected': 'Find the best locations',
		'searching': 'Searching...'
	}
	$('#dateButton').click(function(){
		document.querySelector('#dateButton').innerHTML = buttonText.searching
		$('#dateButton').addClass('disabled')
		$('.show-while-loading').removeClass('hide')
	})
</script>
