<div class="row">
	<div class="col s7">
		<h5>Location Details</h5>
		<p>Category: <%= @location.location_type.category %></p>
		<p>Address: <%= @location.address %></p>
	</div>
	<div class="col s1"></div>
	<div class="col s4">
	</div>
</div>
